.replenish-stock-container {
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#save {
  width: 9%;
  padding-right: 0.5%;
}

#generate-list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007249;
  border-radius: 14px;
  font-size: 1.8vmax;
  width: 25%;
  height: 15%;
  color: white;
  margin: 2% 0%;
  cursor: pointer;
}

#generate-list-button:hover {
  background-color:#00D789;
}


