@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Extra Bold';
  src: url('./fonts/Inter-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing:border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3vmax;
  }
  
  input {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
  border:0.01rem solid #990000;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  background-color: #990000;
  border-radius: 10px;
}

tr:hover, tr:hover td {
  background-color: #ff5b5b32;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #f31919e8;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  cursor: pointer;
  font-family: Inter Extra Bold, Arial, Helvetica, sans-serif;
  font-size: 1.5vmax;
}

input[type="checkbox"]{
  all: unset;
  border: 1px solid #990000;
  border-radius: 30%;
  background-color: white;
  display: inline-block;
  width: 12px;
  height: 12px;
  zoom: 2.2;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIiIGQ9Ik0xNzMuODk4IDQzOS40MDRsLTE2Ni40LTE2Ni40Yy05Ljk5Ny05Ljk5Ny05Ljk5Ny0yNi4yMDYgMC0zNi4yMDRsMzYuMjAzLTM2LjIwNGM5Ljk5Ny05Ljk5OCAyNi4yMDctOS45OTggMzYuMjA0IDBMMTkyIDMxMi42OSA0MzIuMDk1IDcyLjU5NmM5Ljk5Ny05Ljk5NyAyNi4yMDctOS45OTcgMzYuMjA0IDBsMzYuMjAzIDM2LjIwNGM5Ljk5NyA5Ljk5NyA5Ljk5NyAyNi4yMDYgMCAzNi4yMDRsLTI5NC40IDI5NC40MDFjLTkuOTk4IDkuOTk3LTI2LjIwNyA5Ljk5Ny0zNi4yMDQtLjAwMXoiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center center;
}
